*{
  margin: 0;
  padding: 0;
}
.img{
  width: 20px;
  height: 20px;
  
  position: fixed;
  z-index: 2;
  background-image: url("./images/search-icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.try{
  display: flex;
   flex-direction: row;
}