* {
  margin: 0;
  padding: 0;
  line-height: 150%;
  /*box-sizeing:border-box;*/
  /*filter: drop-shadow(16px 16px 20px red);*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: rgba(230, 194, 79, 0.603);
  /* color by KELEMEN HAJNALKA*/
}
.menu {
  height: 13.2vh;
  background-image: url("fal.jpg");
  display: grid;
  place-items: center;
  position: relative;
}
.menu img {
  position: absolute;
  width: 100px;
  left: 50px;
}
.menu p {
  font-size: 60px;
  color: white;
}
.anim {
  color: white;
  position: relative;
  font-size: 70px;
  -webkit-text-stroke: 3px black;
  text-transform: uppercase;
}
.anim:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: rgb(185, 109, 47);
  -webkit-text-stroke: 0px black;
  border-right: 2px solid black;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  z-index: 10;
}

.kozep {
  padding: 0 50px 0 350px;
}
article {
  margin-bottom: 25px;
}

.smallgall {
  width: 236px;
  height: 550px;
  border: 5px solid #555;
  overflow: hidden;
  filter: drop-shadow(16px 16px 20px #555);
  margin-top: -25px;
  margin-right: 50px;
  position: fixed;
  left: 50px;
}
.smallgall a {
  padding: 0;
}
.cim {
  position: absolute;
  left: 0;
  top: 0;
  width: 236px;
}
.cim a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 15px;
}
.smallgall ul {
  display: flex;
  flex-direction: column;
}
.smallgall li {
  position: relative;
  display: block;
  height: 100px;
  float: inline-end;
  transition: 1s;
}
.smallgall ul:hover li {
  height: 50px;
}
.smallgall ul li:hover {
  height: 350px;
}
.smallgall li img {
  display: block;
}
main {
  min-height: 80vh;
}
.kepeslap {
  display: inline-block;
}

.bal img {
  float: left;
  width: 400px;
  margin: 15px;
}
.jobb img {
  float: right;
  width: 400px;
  margin: 15px;
}

.border {
  margin-bottom: 50px;
  border: 5px solid #555;
  position: relative;
}
.border h2 {
  position: absolute;
  z-index: 10;
  padding: 5px;
  background-color: rgb(185, 109, 47);

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  left: -5px;
  top: -46px;
}
.kepeslap article {
  margin: 15px;
}
table,
tr,
td {
  border: 2px solid #555;
}
.kerdo {
  display: flex;
  flex-direction: row;
}
.kk {
  display: flex;
  flex-direction: column;
}
.send {
  padding: 20px;
  margin-top: 20px;
  text-decoration: none;
  background-color: rgb(185, 109, 47);
  text-align: center;
  color: white;
  font-size: 25px;
}
footer {
  height: 6.8vh;
  background-color: rgb(110, 51, 2);
  /*COLOR BY KELEMEN HAJNALKA*/
}
.levenni {
  margin-right: 25px;
}
.mobile {
  display: none;
}
@media (max-width: 1010px) {
  .ll {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 870px) {
  .kerdo {
    flex-direction: column;
  }
  .send {
    padding: 5px;
  }
  .kepeslap img {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
  }
}
@media (max-width: 650px) {
  .smallgall {
    display: none;
  }
  .kozep {
    padding: 15px;
  }

  .mobile {
    display: unset;
    position: relative;
  }
  .anim {
    display: none;
  }
  .mobile li {
    list-style: none;
  }
  .mobile a {
    text-decoration: none;
    color: white;
    padding: 0px 5px 0 5px;
    background-color: rgb(110, 51, 2);
    transition: 0.8s;
  }
  .mobile a:hover {
    background-color: rgb(185, 109, 47);
  }
  .mobile div {
    position: absolute;
    float: right;
    top: -55px;
  }
}
@media (max-width: 522px) {
  .mas {
    width: 100vw;
  }
  .mas img {
    width: 100%;
    padding: 5px;
  }
}
